<nz-tree nzBlockNode [nzData]="nodes" (nzClick)="activeNode($event)"
    [nzBlockNode]="true" [nzTreeTemplate]="nzTreeTemplate"></nz-tree>
<ng-template #nzTreeTemplate let-node let-origin="origin">
    <span class="custom-node">
        <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, menu)">
            <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>
            <span class="folder-name">{{ node.title }}</span>
        </span>
        <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event, menu)">
            <i nz-icon nzType="file"></i>
            <span class="file-name">{{ node.title }}</span>
        </span>
    </span>
</ng-template>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item (click)="selectDropdown()">Rename</li>
        <li nz-menu-item (click)="selectDropdown()">Delete</li>
    </ul>
</nz-dropdown-menu>