// :host {
//     text-align: center;
//   }

.border-bottom,
.header {
  border-bottom: solid 1px var(--border-color);
}

.header {
  height: 65px;
}

.footer {
  border-top: solid 1px var(--border-color);
  height: 30px;
}

nz-sider {
  border-right: solid 1px var(--border-color);
}

nz-layout {
  height: 100%;
}

nz-layout:last-child {
  margin: 0;
}
