<nz-layout class="custom-base-background">
  <!-- 标题栏 / 菜单栏 -->
  <div class="header" style="float: left; display: flex;">
    <div style="width: 35px; height: 35px; background-color: darkorange;"></div>
    <label style="height: 29px; line-height: 35px; margin: 0 10px 0 10px; cursor: pointer;" nz-dropdown nzTrigger="click" [nzDropdownMenu]="fileMenu">File</label>
    <nz-dropdown-menu #fileMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>Save</li>
        <li nz-menu-item>Save All</li>
        <app-separator></app-separator>
        <li nz-menu-item (click)="onBack()">Exit</li>
      </ul>
    </nz-dropdown-menu>
    <label style="height: 29px; line-height: 35px; margin: 0 10px 0 10px; cursor: pointer;" nz-dropdown nzTrigger="click" [nzDropdownMenu]="helpMenu">Help</label>
    <nz-dropdown-menu #helpMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>About</li>
      </ul>
    </nz-dropdown-menu>
    
  </div>
  <!-- 编辑部分 -->
  <nz-layout class="custom-base-background">
    <!-- 资源管理器 -->
    <nz-sider class="custom-base-background" [nzWidth]="siderWidth" nz-resizable [nzMinWidth]="53" [nzMaxWidth]="600" (nzResize)="onSideResize($event)">
      <!-- resize -->
      <nz-resize-handle nzDirection="right">
        <div class="sider-resize-line"></div>
      </nz-resize-handle>
      <!-- 侧边栏中的分类区域 -->
      <!-- todo 需要重构 -->
      <nz-tabset [nzTabPosition]="'left'" style="height: 100%;">
        <nz-tab [nzTitle]="fileTabTemplate">
          <ng-template #fileTabTemplate>
            <i nz-icon [nzType]="'file'" style="width:0; font-size:1.5em; margin-left:-8px; padding-top: 5px;"></i>
          </ng-template>
          <!-- 资源管理器 -->
          <app-file-tree [files]="files" [projectName]="projectName" (fileHandleEvent)="fileHandle($event)"></app-file-tree>
        </nz-tab>
        <nz-tab [nzTitle]="searchTabTemplate">
          <ng-template #searchTabTemplate>
            <i nz-icon [nzType]="'search'" style="width:0; font-size:1.7em; margin-left:-8px;"></i>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </nz-sider>

    <nz-content>
      <!-- 输入区域：编辑器 -->
      <div nz-resizable class="resizable-box border-bottom" [style.height.px]="contentHeight" [nzMinHeight]="100" (nzResize)="onEditorResize($event)">

        <nz-resize-handle nzDirection="bottom">
          <div class="content-resize-line"></div>
        </nz-resize-handle>
        <!-- 文件编辑器 -->
        <app-file-editor #fileEditor></app-file-editor>

      </div>

      <!-- 输出区域：控制台 -->
      <div>
        Output
      </div>

    </nz-content>
  </nz-layout>

  <!-- 状态栏 -->
  <div class="custom-base-background footer"></div>
</nz-layout>