<nz-layout class="custom-base-background">
    <!-- <nz-header class="custom-base-background">
        <nz-page-header (nzBack)="onBack()" nzBackIcon class="site-page-header" nzTitle="Title" nzSubtitle="This is a subtitle" style="height: 60px;">
            <nz-avatar nz-page-header-avatar nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4">
            </nz-avatar>
        </nz-page-header>
    </nz-header> -->
    <div style="height: 65px; border-bottom: solid 1px #303030;" class="custom-base-background">
        <nz-page-header (nzBack)="onBack()" nzBackIcon class="site-page-header" nzTitle="Title" nzSubtitle="This is a subtitle" style="height: 60px;">
            <nz-avatar nz-page-header-avatar nzIcon="codepen" [nzShape]="'square'">
            </nz-avatar>
        </nz-page-header>
    </div>
    <nz-layout class="custom-base-background">
        <nz-sider class="custom-base-background" [nzWidth]="400">Sider</nz-sider>
        <nz-content>Content</nz-content>
    </nz-layout>
    <!-- <nz-footer>Footer</nz-footer> -->
    <div style="height: 30px; border-top: solid 1px #303030;" class="custom-base-background"></div>
</nz-layout>