<nz-layout>
    <div header>
      <div toolbar>
        <nz-switch [ngModel]="false" nzCheckedChildren="Light" nzUnCheckedChildren="Dark" (ngModelChange)="changeDrakTheme($event)"></nz-switch>
      </div>
      <div class="logo"></div>
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item>
          <a routerLink="/home"><i nz-icon nzType="home"></i>Home</a>
        </li>
        <li nz-menu-item>
          <a [routerLink]="['/project']"><i nz-icon nzType="project"></i>Projects</a>
        </li>
        <li nz-menu-item>
          <a href="https://github.com/pipiliang/code.py" target="_blank" rel="noopener noreferrer">About</a>
        </li>
      </ul>
    </div>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      </nz-breadcrumb>

      <div class="inner-content custom-base-background">
        <!-- sub router -->
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  
    <nz-footer>Code.py ©2020 Liang</nz-footer>
  </nz-layout>
