<nz-page-header class="site-page-header" nzTitle="Create Project"></nz-page-header>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" [hidden]="hideFrom">
    <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your project name">
            <input type="text" autofocus nz-input formControlName="name" placeholder="Please input your project name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="description" [nzRequired]="validateForm.get('required')?.value">Description
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your project description">
            <textarea nz-input formControlName="description" placeholder="Please input your project description"
                [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzSpan]="8" [nzOffset]="8">
            <label nz-checkbox [(ngModel)]="checked" formControlName="readme">readme.md</label>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="8" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">OK</button>
            <button nz-button class="button-margin" [routerLink]="['/project']">Cancel</button>
        </nz-form-control>
    </nz-form-item>
</form>

<nz-result [hidden]="result == 'No'" nzStatus="success" nzTitle="Create project successfully!"
    nzSubTitle="Project Name: {{ validateForm.value.name }}">
    <div nz-result-extra>
        <button nz-button nzType="primary">Go editor</button>
        <button nz-button [routerLink]="['/project']">Go back</button>
    </div>
</nz-result>